.topbanner{background: url(https://img02.hua.com/pc/images/pc_newuser_order_100.png?v) 50% 0px no-repeat; height: 80px;}
#serve{height:120px;background:white;}
#serve ul{height:120px;}
#serve ul li{width:214px;height:90px;float: left;margin-top: 30px;margin-left: 8px;}
#serve ul li a{display: block;}
#serve ul li a img{float: left;width:32px;height:38px;}
#serve ul li a h4{width:164px;height:18px;float: left;margin-left:14px;font-size: 16px;}
#serve ul li a p{width:164px;height:18px;margin-left:47px;font:12px/32px "";color: #999999;}
/* #f1{height:200px;background: white;} */
/* #f1 img{width:232px ;height:201px;float: left;}
#f1 ul{width:734px;height:199px;float: left;border:1px solid #C0C0C0;}
#f1 ul li{width:240px ;height:199px ;float: left;border-left: 1px solid #C0C0C0;}
#f1 ul li .li-l{width:92px;float: left;height:199px;}
#f1 ul li .li-l p{font-size: 14px;margin-top:106px;margin-left: 10px;}
#f1 ul li .li-l span{font:12px/30px "";color: #000000;font-weight: 700;margin-left: 10px;}
#f1 ul li .li-r{float: left;}
#f1 ul li .li-r img{width:148px;height:198px;}
#f1 ul img{float:right;width:249px;} */
